# Nix integration
# If we have lorri, use it. If not, just use the basic integration.
if type lorri &>/dev/null; then
    echo "direnv: using lorri from PATH ($(type -p lorri))"
    eval "$(lorri direnv)"
elif type nix-shell &>/dev/null; then
    use flake
fi
